:root {
    --fontTexto:  'Raleway', sans-serif;
    --fontHeading: 'Staatliches', cursive;

    /** Colores **/
    --azul : #00487C;
    --rojo : #A01C48;
    --naranja : #F58549;
    --amarillo: #ECA400;
    --verde : rgb(20, 131, 20);
    --naranjaClaro: #ff8533;
    --naranjaOscuro: #e36712;

    /** gris **/
    --gris: #969696;
    --grisOscuro : #707070;
    --grisClaro: #f3f3f3;

    /** negros **/
    --negro: #000;
    --negroClaro: #333333;
}
body {
    background-color: var(--grisClaro);
    font-size: 1.6rem;
    font-family: var(--fontTexto);
}
html {
    
    box-sizing: border-box;
    font-size: 62.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    font-family: var(--fontTexto);
    color: black;
    text-decoration: none;
}
/** GLOBALES **/
h1{
    font-family: var(--fontHeading);
}
h2 {
    font-family: var(--fontTexto);
    color: var(--grisOscuro);
    font-size: 3rem;
}
.contenedor {
    max-width: 1400px;
    margin: 0 auto;
    width: 95%;
}
.btn{
    padding:  1.5rem;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    font-family: var(--fontTexto);
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    margin: 0.5rem;
}
.btn:hover {
    cursor: pointer;
}
.btn-cerrar {
    background-color: var(--rojo);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

/** HEADER **/
.header{
    background-color: var(--naranjaClaro);
    display: flex;
    justify-content: space-between;
}
.header__logo{
    width: 15rem;
    margin: 1rem;
}
.header__user{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.sidebar{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar__color{
    background-color: var(--naranjaClaro);
}
.sidebar__cuerpo{
    display: grid;
    justify-items: center;
    height: 80%;
    align-items: center;
    row-gap: 2rem;
    margin-top: 2rem;
}
.offcanvas-header{
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #707070;
    background-color: var(--naranjaOscuro);
}
.sidebar__cerrar{
    width: 28%;
    display: flex;
    justify-content: flex-end;
}
.sidebar__header{
    width: 72%;
    display: flex;
    justify-content: flex-end;
}
.sidebar__header h1 {
    font-size: 8rem;
    margin: 0;
    padding: 0;
}
.sidebar__ruta{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar__text{
    font-weight: 700;
    font-size: 4rem;
    color: var(--negroClaro);
    width: 28rem;
    margin-left: 1rem;
}